.editor {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  flex: 1;
  overflow: hidden;
  &-container {
    height: 100%;
    width: inherit;
    box-sizing: border-box;
    overflow: hidden;
    &-canvas {
      overflow: auto;
      overflow-x: hidden;
      height: 100%;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      &_content {
        background-color: #fff;
        position: relative;
        border-radius: 4px;
        padding: 14px;
      }
    }
  }
}