
.editor {
  display: flex;
  justify-content: space-between;
  // column-gap: 20px;
  padding: 14px;
  flex: 1;
  &-container {
    height: 100%;
    box-sizing: border-box;
    &-canvas {
      overflow: scroll;
      height: 100%;
      &_content {
        margin: 20px auto;
        background-color: yellow;
        position: relative;
        color: red;
      }
    }
  }
}