.editor {
  width: 100%;
  height: 100%;
  &-left,&-right {
    position: fixed;
    width: 300px;
    background-color: red;
    top: 0;
    bottom: 0;
  }
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
  }
  &-top {
    position: absolute;
    left: 280px;
    right: 280px;
    height: 80px;
    background-color: blue;
  }
  &-container {
    padding: 80px 270px 0;
    height: 100%;
    box-sizing: border-box;
    &-canvas {
      overflow: scroll;
      height: 100%;
      &_content {
        margin: 20px auto;
        background-color: yellow;
        position: relative;
      }
    }
  }
}